* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  line-height: 1.5;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  /* font-family: "Montserrat"; */
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  min-height: 100vh;
}
.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo-link {
  color: black;
}

.logo-link:hover {
  color: black;
  text-decoration: none !important;
}

nav {
  background: whitesmoke;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  padding-right: 75px;
}

label.logo {
  color: #1e1e1e;
  font-size: 35px;
  line-height: 80px;
  padding: 0 75px;
  font-weight: bold;
}
nav ul {
  float: right;
  /* margin-right: 40px; */
  margin-bottom: 0px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  text-decoration: none !important;
  color: #1e1e1e !important;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,
a:hover {
  /* background: #cfcfcf; */
  transition: 0.5s;
  text-decoration: underline !important;
  color: #1e1e1e !important;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

.top-image {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 80px;
  padding-top: 3%;
  justify-content: center;
  align-items: center;
}

.headshot {
  width: 30%;
  height: 30%;
  max-width: 400px;
  min-width: 200px;
  padding-top: 25px;
}
.headshot-credit {
  padding-top: 7px;
}

.about-text {
  max-width: 800px;
  margin: auto;
  font-size: 20px;
  padding: 20px;
  padding-bottom: 50px;
  padding-top: 25px;
}

hr {
  margin: 0% 3%;
}

.questions-container {
  /* padding: 1% 15%; */
  max-width: 800px;
  margin: auto;
  font-size: 20px;
  padding: 20px;
  padding-bottom: 50px;
  padding-top: 25px;
}

.question {
  color: black;
  /* text-decoration: underline; */
  cursor: pointer;
  font-weight: bold;
  font-size: 24px;
  /* padding: 2% 0%; */
  margin-top: 50px;
}

.question:hover {
  color: rgb(119, 119, 119);
}

.answer {
  color: block;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.open {
  max-height: 1000px; /* Adjust this value according to your content */
}

.footer-container {
  background: #464646;
  padding: 4%;
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.link-icons {
  display: flex;
  justify-content: center;
  gap: 1%;
}

.icon {
  width: 35px;
  height: 35px;
}

/* reactive navbar */
.fa-bars {
  color: black;
}

@media (max-width: 1020px) {
  label.logo {
    font-size: 30px;
    /* padding-left: 50px; */
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 928px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #c2c2c2;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav {
    padding-right: 25px;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: #e2e2e2;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

@media (max-width: 750px) {
  .about-text {
    font-size: 18px;
  }

  .answer {
    font-size: 18px;
  }
}

@media (max-width: 650px) {
  nav {
    padding-right: 0px;
  }
  label.logo {
    padding-left: 25px;
  }
}

@media (max-width: 500px) {
  nav {
    padding-right: 0px;
  }
  label.logo {
    font-size: 22px;
    padding-left: 20px;
  }

  .question {
    font-size: 14pt;
  }
}
