* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  line-height: 1.5;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
}
nav {
  background: whitesmoke;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
}

label.logo {
  color: #1e1e1e;
  font-size: 35px;
  line-height: 80px;
  padding: 0 75px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 40px;
  margin-bottom: 0px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  text-decoration: none !important;
  color: #1e1e1e !important;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,
a:hover {
  /* background: #cfcfcf; */
  transition: 0.5s;
  text-decoration: underline !important;
  color: #1e1e1e !important;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
.top-section {
  background: #1d1d1d;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 40px 50px;
  margin-top: 80px;
}

.cover-photo {
  width: 20%;
  height: 20%;
}

.cover-description {
  color: rgb(236, 236, 236);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15%;
}
.cover-label {
  font-size: 40pt;
  text-align: left;
}

.shop-now {
  color: rgb(203, 203, 203);
  font-size: 32pt;
}

.cover-purchase-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: fit-content;
}

.purchase-link:hover {
  text-decoration: none !important;
}

.purchase-button {
  display: flex;
  color: white;
  font-size: 16px;
  width: fit-content;
  padding: 5px 15px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 3px solid rgb(203, 203, 203);
}
.purchase-button:hover {
  border: 3px solid rgb(142, 142, 142);
  color: rgb(142, 142, 142) !important;
}

.purchase-button-text {
  color: white;
}
.purchase-button-text:hover {
  color: white;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 5%;
  padding-bottom: 2%;
}

.about-header {
  font-weight: bold;
}
.about-credit {
  padding-top: 1%;
}
.about-photo {
  width: 25%;
}

.about-text {
  padding: 3% 15%;
  font-size: 20px;
}

.awards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 5%;
  padding-top: 0;
}

.award {
  width: 100%;
  padding: 1% 15%;
  font-size: 20px;
}

.award-images {
  display: flex;
  justify-content: space-evenly;
  padding: 2%;
}

.award-image {
  width: 25%;
}

.footer-container {
  background: #464646;
  padding: 4%;
}

.link-icons {
  display: flex;
  justify-content: center;
  gap: 1%;
}

.icon {
  width: 35px;
  height: 35px;
}

.fa-bars {
  color: black;
}
@media (max-width: 1020px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 928px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #383838;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: #cfcfcf;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
/* section {
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
} */
