* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  line-height: 1.5;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  /* font-family: "Montserrat"; */
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  min-height: 100vh;
}
.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo-link {
  color: black;
}

.logo-link:hover {
  color: black;
  text-decoration: none !important;
}

nav {
  background: whitesmoke;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  padding-right: 75px;
}

label.logo {
  color: #1e1e1e;
  font-size: 35px;
  line-height: 80px;
  padding: 0 75px;
  font-weight: bold;
}
nav ul {
  float: right;
  /* margin-right: 40px; */
  margin-bottom: 0px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  text-decoration: none !important;
  color: #1e1e1e !important;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,
a:hover {
  /* background: #cfcfcf; */
  transition: 0.5s;
  text-decoration: underline !important;
  color: #1e1e1e !important;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
.top-section {
  /* background: #1d1d1d; */
  background-image: url("./images/black-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  /* width: 100%; */
  padding: 40px 50px;
  /* padding-top: 10vh; */
  /* padding-bottom: 10vh; */
  margin-top: 80px;
  gap: 20em;
}

.cover-photo {
  width: 20%;
  height: 20%;
  align-self: center;
  min-width: 250px;
}

.cover-description {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3em;
  /* height: 100%; */
  /* width: 40%; */
  margin: 3% 0;
}
.cover-label {
  font-size: 40pt;
  text-align: left;
}

.shop-now {
  color: rgb(203, 203, 203);
  font-size: 32pt;
}

.cover-purchase-buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  gap: 1em;
  height: fit-content;
}

.purchase-link:hover {
  text-decoration: none !important;
}

.purchase-button {
  display: flex;
  color: white;
  font-size: 16px;
  /* width: 100%; */
  min-width: 175px;
  gap: 5%;
  padding: 5px 15px;
  justify-content: center;
  align-items: center;
  /* background-color: #0e382a; */
  background-color: transparent;
  border: 3px solid rgb(203, 203, 203);
}
.purchase-button:hover {
  border: 3px solid rgb(142, 142, 142);
  /* background-color: #175e46; */
  color: rgb(142, 142, 142) !important;
}

.purchase-button-text {
  color: white;
}
.purchase-button-text:hover {
  color: white;
}

.about-container {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* width: 100%; */
  max-width: 800px;
  /* padding: 5%; */
  padding: 20px;
  padding-bottom: 50px;
  padding-top: 50px;
  margin: auto;
}

.about-header {
  font-weight: bold;
}
.about-credit {
  display: flex;
  justify-content: center;
  padding-top: 7px;
}
.about-photo {
  display: block;
  width: 50%;
  max-width: 350px;
  min-width: 200px;
  margin: auto;
}

.about-text {
  /* padding: 3% 15%; */
  font-size: 20px;
  padding-top: 25px;
}
hr {
  margin: 3%;
  margin-top: 0;
}

.awards-container {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; */
  max-width: 800px;
  margin: auto;
  padding: 20px;
  padding-bottom: 50px;
  padding-top: 50px;
  /* padding: 5%; */
  /* padding-top: 0; */
}

.award {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5%;
  width: 100%;
}

.awards-section-label {
  display: flex;
  justify-content: center;
  font-size: 48px;
}

.award-title {
  font-size: 32px;
  font-style: italic;
  text-align: center;
  max-width: 75%;
}

.award-description {
  padding-top: 20px;
  font-size: 20px;
}

.footer-container {
  background: #464646;
  padding: 4%;
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.link-icons {
  display: flex;
  justify-content: center;
  gap: 1%;
}

.icon {
  width: 35px;
  height: 35px;
}

/* reactive navbar */
.fa-bars {
  color: black;
}

@media (max-width: 2000px) {
  .top-section {
    gap: 18em;
  }
}

@media (max-width: 1800px) {
  .top-section {
    gap: 15em;
  }
}

@media (max-width: 1500px) {
  .top-section {
    gap: 12em;
  }
}

@media (max-width: 1250px) {
  .cover-label {
    font-size: 32pt;
  }

  .top-section {
    gap: 10em;
  }
}

@media (max-width: 1020px) {
  label.logo {
    font-size: 30px;
  }
  nav ul li a {
    font-size: 16px;
  }
  .cover-label {
    font-size: 28pt;
  }
}
@media (max-width: 928px) {
  .checkbtn {
    display: block;
  }

  label.logo {
    /* font-size: 24px; */
    padding-left: 35px;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #c2c2c2;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav {
    padding-right: 25px;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: #e2e2e2;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }

  .top-section {
    gap: 5em;
  }

  .cover-label {
    display: none;
  }

  .about-text {
    font-size: 18px;
  }

  .awards-section-label {
    font-size: 40px;
  }
  .award-title {
    font-size: 26px;
  }

  .award-description {
    font-size: 18px;
  }
}

@media (max-width: 750px) {
  .awards-section-label {
    font-size: 40px;
  }
  .award-title {
    font-size: 26px;
  }
}

@media (max-width: 650px) {
  nav {
    padding-right: 0px;
  }
  label.logo {
    padding-left: 25px;
  }

  .cover-label {
    display: none;
  }

  .top-section {
    gap: 2em;
  }
}

@media (max-width: 500px) {
  nav {
    padding-right: 0px;
  }
  label.logo {
    font-size: 22px;
    padding-left: 20px;
  }

  .about-credit {
    font-size: 10pt;
  }

  .awards-section-label {
    font-size: 30px;
  }
  .award-title {
    font-size: 22px;
  }
}
